body{
    background-image: url(img.jpg);
    background-size: cover;
}

*{
    margin: 0px;
    padding: 0px;
}
#cb{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    
    color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#cb2{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#d1{
    background-color: rgba(7, 14, 236, 0.266);
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 2px;
    border:solid;
    border-radius: 8px;
    border-color: greenyellow;
    font-weight: bolder;
    width: 100px;
    color:white;
}
#d2{
    background-color: rgba(7, 14, 236, 0.266);
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 2px;
    border:solid;
    border-radius: 8px;
    border-color: greenyellow;
    font-weight: bolder;
    width: 100px;
    color:white;
    
}
#d3{
    background-color: rgba(7, 14, 236, 0.266);
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 2px;
    border:solid;
    border-radius: 8px;
    border-color: greenyellow;
    font-weight: bolder;
    width: 100px;
    color:white;
}
#d4{
    background-color: rgba(7, 14, 236, 0.266);
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 2px;
    border:solid;
    border-radius: 8px;
    border-color: greenyellow;
    font-weight: bolder;
    width: 100px;
    color:white;
}
#d1:hover,#d2:hover,#d3:hover,#d4:hover{
    cursor: pointer;
    color: white;
    background-color: blue;

}
a{
    text-decoration: none;
}


#is{
    
    width: 250px;
    background-color: black;
    padding-top: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-bottom: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

input{
    background-color: white;
    padding: 10px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-top: 2px;
}
#a{
    width: 98%;
    box-sizing: border-box;
    
}
#obs{
    margin-left: 2px;

}
#dvbtn{
    margin-top: 15px;
    text-align: center;

}
#btn1{
    cursor: pointer;
    padding: 5px;
    
    background: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 15px;
    color: aliceblue;
}
#btn1:hover{
    background-color:rgb(79, 229, 79);
    color: black ;
    width: 150px;
    
}
#container{
    
    width: 100%;
    display: grid;
    grid-template-areas: "is is ra ra";
    
    
}
label{
    margin-top: 20px;
    padding: 5px;
}
#ra{
    border-radius: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    color: white;

    grid-area: ra;
    background-color: black;
    padding: 10px;
    
}
#is{
    grid-area: is;
}

#superc{
    
    max-width: 600px;
    margin: auto;
    
}
#dvbts{
    text-align: center;
    margin-bottom: 10px;
}
#bts6,#bts7,#bts8,#bts9{
    cursor: pointer;
    background-color:white;
    color: black ;
    padding: 2px;
    width: 55px;
    height: 30px;
    border-radius: 7px;
    color: blue;
    
}
#bts6:active,#bts7:active,#bts8:active,#bts9:active{
    color: white;
    background-color: red;
}
#dvano{
    text-align: center;
}
#ano{
    color: white;
}


/* /////////////////////media screm/////////////////////////////////////// */
@media screen and (max-width: 600px) {
    #container{
        width: 400px;
    }
    #ra{
        display: none;
    }
    #is{
        width: 300px;
        margin: auto;
       
    }
    #d4{
        margin-left: 5px;
        width: 70px;
    }
    #d3{
        margin-left: 5px;
        width: 70px;
    }
    #d2{
        margin-left: 5px;
        width: 70px;
    }
    #d1{
        
        width: 93px;
    }
    #cb{
        font-size: 10px;
        margin-bottom: 0px;

    }
    #cb2{  
        justify-content: start;
        margin-top: 0px;
    }
    
    textarea{
    background-color: white;
    }

  }
